---
title: Index
layout: base.njk
---

<h1>Eleventy Decap CMS</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quidem obcaecati
  assumenda repellendus voluptate deleniti rem exercitationem! Facilis dolor
  veritatis impedit voluptatum. Labore minus perferendis facere voluptatem ad
  nemo accusantium!
</p>
